<app-nav></app-nav>
<div class="container">
  <h2>Event Registration Status</h2>

  <div *ngIf="bookingDetails.length > 0">

    <table>
      <thead>
        <tr>
          <th>Sr#</th>
          <th>Status</th>
          <th>Event</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let booking of bookingDetails; let i = index">
          <td>{{ i + 1 }}</td>
          <td>Applied</td>
          <td>
            <p><strong>Description:</strong> {{ booking.event.description }}</p>
            <p><strong>Materials:</strong> {{ booking.event.materials }}</p>
            <p><strong>Name:</strong> {{ booking.event.name }}</p>
          </td>
        </tr>
      </tbody>
    </table>


  </div>

  <p *ngIf="bookingDetails.length === 0 && studentId">No booking details found.</p>
</div>
